<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    {% include '@My/Items/form.html.twig' %}
  </br>
    {% include '@My/Items/filter.html.twig' %}
    {% include '@My/Items/table.html.twig' %}
  </body>
</html>
