<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    {% include 'MyBundle:Items:form.html.twig' %}
  </br>
    {% include 'MyBundle:Items:filter.html.twig' %}
    {% include 'MyBundle:Items:table.html.twig' %}
  </body>
</html>
